:root {
    --clr-body-bg: hsl(0, 0%, 90%);
    --clr-card-bg: 	hsl(356, 59%, 51%);
    --clr-text: hsl(0, 0%, 15%);
    --clr-heading: hsl(0, 0%, 25%);
}

h1, h2, h3 {
color: var(--clr-heading);
}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.color-picker > fieldset {
    border: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: min-content;
    background: var(--clr-card-bg);
    padding: 0.5rem 0.5rem;
    margin-right: 2vh;
    margin-left: auto;
    border-radius: 100px;
    transition: all 1s;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
.color-picker input[type="radio"] {
    width: 0.8rem;
    height: 0.8rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
}
}

@media screen and (max-width: 600px) {
    .color-picker input[type="radio"] {
        width: 0.5rem;
        height: 0.5rem;
        outline: 3px solid var(--radio-color, currentColor);
        outline-offset: 3px;
    }
    }

@media screen and (max-width: 380px) {
    .color-picker input[type="radio"] {
        width: 0.25rem;
        height: 0.25rem;
        outline: 3px solid var(--radio-color, currentColor);
        outline-offset: 3px;
    }
    }

.color-picker input[type="radio"]:checked {
background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
--radio-color: hsl(34, 78%, 91%);
}

.color-picker input[type="radio"]#dark {
--radio-color: #232323;
}

.dark {
--clr-body-bg: hsl(209, 50%, 10%);
--clr-card-bg: hsl(34, 78%, 91%);
--clr-text: hsl(34, 78%, 91%);
--clr-heading: hsl(209, 50%, 80%);
}

:root:has(#dark:checked) {
--clr-body-bg: hsl(209, 50%, 10%);
--clr-card-bg: 	hsl(356, 59%, 51%);
--clr-text: hsl(34, 78%, 91%);
--clr-heading: hsl(209, 50%, 80%);
} 

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.right-side {
    justify-content: flex-end;
}

body {
    font-family: Arial, sans-serif;
    background: var(--clr-body-bg);
    color: var(--clr-text);
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}

.logoImg {
    width: 200px;
    height: 180px;
    background: url(img/logo.png) no-repeat;
    background-size: contain;
}

.project-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
}
.project-section .item.active {
    width: 400px;
}
.project-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
}

.project-section {
    width: 100%;
    margin: 0 auto;
}
.project-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}
.project-section .item {
    padding: 20px 0px 80px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.project-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.project-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.project-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.project-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}
.project-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.project-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.project-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}

.nav, .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    position: relative;
    background-color: var(--clr-body-bg);
    text-align: center;
}

.nav{
    height: 10vh;
}

.nav h1, .slider h1 {
    font-family: Arial, sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #cc3843;
    transition: all 0.3s ease;
    z-index: 3;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: navy;
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color:var(--clr-text);
    z-index: 4;
}

h3 {
    padding: 20px;
    color: var(--clr-text); 
}

h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: var(--clr-text); 
    z-index: 999;
}

a {
    text-decoration: none;
}


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #e73700;
}

h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}

button {
    outline: none !important;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: var(--clr-body-bg);
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #cc3843;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: var(--clr-body-bg);
    background: #cc3843;
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #cc3843;
    transition: left 0.3s ease;
}

.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    max-width: 27vh;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    margin: 5px;
}

@media screen and (max-width: 1100px) {
    .image-container img {
        width: 175px;
    }
    h3 {
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 33px;
}
    .about-section,
    .affiliation-section,
    .contact-section,
    .specilities-section {
        margin-bottom: 200px;
}
}

@media screen and (max-width: 800px) {
    .image-container img {
        width: 150px;
    }

    h3 {
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 28px;
    }
    .about-section,
    .affiliation-section,
    .contact-section,
    .specilities-section {
        margin-bottom: 200px;
}
}

@media screen and (max-width: 600px) {
    .image-container img {
        width: 100px;
}

    h3 {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 25px;
}
.about-section,
.affiliation-section,
.contact-section,
.specilities-section {
    margin-bottom: 200px;
}
}
@media screen and (max-width: 480px) {
    .image-container img {
        width: 100px;
    }

    h3 {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 23px;
    }
        
    .about-section,
    .affiliation-section,
    .contact-section,
    .specilities-section {
        margin-bottom: 200px;
}
}

@media screen only (min-width: 360px) {
    .image-container img {
        width: 10vh;
    }

    .nav h1, .slider h1 {
        font-size: 8vw;
    }

    .nav h2, .slider h2 {
        font-size: 2vw;
        letter-spacing: 0.2em;
    }

    .nav-tab {
        font-size: 1.2vw;
    }
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #cc3843;
        color: #cc3843;
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}

.slideshow-container {
    max-height: auto;
    height: 80vh;
    position: relative;
    margin-top: -5vh;
}

.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}

}
